html, body {
    margin: 5px;
    padding: 0;
    background-color: #181818;
    margin: 0 auto;
    text-align: center;
    line-height: 1.2;

}

#tutHeader {
    border-bottom: solid 1px yellow;
}

.fontHeader {
    font-family: 'Press Start 2P', cursive;
	color: yellow;
	font-size:20px;
}

.font {
    font-family: 'Press Start 2P', cursive;
	color: floralwhite;
	font-size:12px;
}

#textBox {
    margin-left: 4ch;
    margin-right: 4ch;
}

#howBox {
    margin-top: 6ch;
    position:flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}