html, body {
    margin: 5px;
    padding: 0;
    background-color: #181818;
    margin: 0 auto;
    text-align: center;
    line-height: 1.2;
}

.font {
    font-family: 'Press Start 2P', cursive;
	color: floralwhite;
	font-size:12px;
}

.fontSpecial {
    font-family: 'Libre Barcode 39 Text', cursive;
	color: yellow;
	font-size:40px;
}

.center {
    margin: auto;
    width: 500px;
    border: 2px solid #FFFF00;
    padding: 0px;
    text-align: center;
    margin-bottom: 10px;
    }

.centerClr {
    margin: auto;
    width: 75%;
    padding: 0px;
    text-align: center;
    }

.nav-link {
    font-family: 'Press Start 2P', cursive;
    color: #FFFF00;
    font-size:12px;
}

.generator {
    border-radius: 3px;
    font-family:'Courier New', Courier, monospace;
    font-size: 14px;
    border: 2px solid rgba(218,165,32,0.5);
    background-color: rgba(255,255,0,0.8);
    text-align: center;
    padding: 8px 15px 8px 15px;
    cursor: pointer;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 6px 2px 6px 2px;
    user-select: none;
    justify-self: flex-end;
    width: 45%;
}

#inter {
    border-radius: 5px;
    font-family: 'Press Start 2P', cursive;
    border: 2px solid goldenrod;
    background-color: yellow;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    user-select: none;
    margin-left: 2ch;

}


#shift {
    border-radius: 5px;
    font-family: 'Press Start 2P', cursive;
    border: 2px solid floralwhite;
    background-color: floralwhite;
    color: #181818;
    padding: 5px;
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    user-select: none;
    width: 20%;
}

#shift.locked {
    border: 2px solid floralwhite;
    color: floralwhite;
    background-color: #181818;
}

#shiftText {
    margin-top: 10px;
}

.generator.locked {
    background-color: #181818;
    color: yellow;
}

#inter.locked {
    background-color: #181818;
    color: yellow;
}

.inliner {
    margin-left: 5ch;
    margin-right: 5ch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.inliner p {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
}

.gentext {
    font-size: 10px;
    margin-right: 30px;
    text-align: left;
    justify-self: flex-start;
}

.borderRad {
    border-radius: 10px;
}


#app {
    margin-left: 10%;
    margin-right: 10%;
    justify-self: center;
}

#up1text {
    font-size: 10px;
}

#titleText {
    font-size: 20px;
    color: yellow;
    border-bottom: solid 1px yellow;
}

#chargeContainer {
    border-radius: 2px;
    margin-top: 5px;
    width: 100%;
    border: 1px solid floralwhite;
    user-select: none;
}

#chargeBar {
    border-radius: 2px;
    width: 1%;
    height: 6px;
    background-color: rgb(255, 55, 0);
    user-select: none;
}

#currency {
    margin: 40px 40px 10px 40px;
    font-size: 16px;
    text-align: center;

}

#quality {
    border-left: 2px solid rgba(255,250,240,1);
    border-right: 2px solid rgba(255,250,240,1);
    border-radius: 10px;
    padding: 10px;
    font-size: 10px;
}

#interText {
    border-left: 2px solid rgba(255,250,240,1);
    border-right: 2px solid rgba(255,250,240,1);
    border-radius: 10px;
    padding: 10px;
    font-size: 10px;
}

#perSec {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 16px;
    text-align: center;

}

#nav-opt-tab {
    font-family: 'Press Start 2P', cursive;
    color: lightblue;
    font-size:12px;
}

#titleText {
    margin-top: 4px;
    margin-bottom: 4px;
}

#title {
    margin-top: 2ch;
}

#numberDiv {
    border: 1px solid #FFFF00;
    margin-top: 13px
}

#number {
    margin-top: 37px;
    margin-bottom: 37px;
    color: yellow;
}

#content {
    margin-top: 2ch;
}

#menu {
    padding:2ch;
    border: 1px solid yellow;
}

#visuals {
    padding-top: 12px;
    padding-left: 4px;
    border: 1px solid yellow;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

#buttonGen1 {
    background-color: #FFFF00;
    color: black;
    border: black;
}