html, body {
    margin: 5px;
    padding: 0;
    background-color: #181818;
}

canvas {
    border: 1px solid goldenrod;
}

.font {
    font-family: 'Press Start 2P', cursive;
	color: floralwhite;
	font-size:12px;
}

.fontSpecial {
    font-family: 'Libre Barcode 39 Text', cursive;
	color: yellow;
	font-size:40px;
}

.center {
    margin: auto;
    width: 500px;
    border: 2px solid #FFFF00;
    padding: 0px;
    text-align: center;
    margin-bottom: 10px;
    }

.centerClr {
    margin: auto;
    width: 25%;
    padding: 0px;
    text-align: center;
    }

.nav-link {
    font-family: 'Press Start 2P', cursive;
    color: #FFFF00;
    font-size:12px;
}

.generator {
    font-family: 'Press Start 2P', cursive;
    border: 2px solid goldenrod;
    background-color: yellow;
    text-align: center;
    width: 300px;
    padding: 15px;
    font-size: 12px;
    cursor: pointer;
    margin-top: 4px;
    margin-bottom: 4px;

}

#currency {
    margin: 40px;
    font-size: 16px;
    text-align: center;

}

#nav-opt-tab {
    font-family: 'Press Start 2P', cursive;
    color: lightblue;
    font-size:12px;
}

#titleText {
    margin-top: 4px;
    margin-bottom: 4px;
}

#title {
    margin-top: 2ch;
}

#numberDiv {
    border: 1px solid #FFFF00;
    margin-top: 13px
}

#number {
    margin-top: 37px;
    margin-bottom: 37px;
    color: yellow;
}

#content {
    margin-top: 2ch;
}

#menu {
    padding:2ch;
    border: 1px solid yellow;
}

#visuals {
    padding:2ch;
    border: 1px solid yellow;
    overflow: hidden;
}

#buttonGen1 {
    background-color: #FFFF00;
    color: black;
    border: black;
}