html, body {
    margin: 5px;
    padding: 0;
    background-color: #181818;
}


.font {
    font-family: 'Press Start 2P', cursive;
	color: floralwhite;
	font-size:12px;
}

.fontSpecial {
    font-family: 'Libre Barcode 39 Text', cursive;
	color: yellow;
	font-size:40px;
}

.center {
    margin: auto;
    width: 25%;
    border: 2px solid #FFFF00;
    padding: 0px;
    text-align: center;
    }

.centerClr {
    margin: auto;
    width: 25%;
    padding: 0px;
    text-align: center;
    }

#titleText {
    margin-top: 4px;
    margin-bottom: 4px;
}

#title {
    margin-top: 2ch;
}

#numberDiv {
    border: 1px solid #FFFF00;
    margin-top: 13px
}

#number {
    margin-top: 37px;
    margin-bottom: 37px;
    color: yellow;
}